/* ESTILO LOGIN ORIGINAL */
.login-body {
    background: linear-gradient(135deg, #121212 0%, #2c3e50 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login-card {
    background: #1e1e1e;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    text-align: center;
    width: 100%;
    max-width: 350px;
    border: 1px solid #333;
}

.login-card h2 { color: #f39c12; margin-bottom: 25px; }
/* Fin estilo login */
